
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->

@*<div class="login-box register-box bg-white box-shadow border-radius-20 max-width-100 min-height-200px">*@

@*<iframe class="window" src="@ViewBag.source" style="border:none">
    </iframe>*@
@*</div>*@